body {
  font-family: monospace;
  display: grid;
  justify-content: center;
  background-color: #13293D;
  color: white; 
}

.titulo{
  font-size: 2rem;
  padding-left: 35px;
  font-weight: bold;
  color: #E8F1F2;
}

.inputzada{
  padding: 10px;
  padding-right: 100px;
  margin-bottom: 10px;
  background: none;
  border: 1px solid white;
  box-shadow: 0px 0px 5px 0px black;
  border-radius: 10px;
  font-family: monospace;
  font-weight: bold;
  color: white;
}

.botaozin{
  margin-top: 10px;
  padding: 10px;
  background: none;
  border-radius: 10px;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  font-weight: bold;
  margin-left: 100px;
  font-family: monospace;
}

.botaozin:hover{
  transition: 0.5s;
  box-shadow: 0px 0px 5px 0px white;
}

form{
  justify-content: center;
  background-color: none;
  border: 1px solid white;
  border-radius: 10px;
  margin-top: 180px;
  padding: 150px;
}

.usuario{
  border: 1px solid white;
  padding: 10px;
  width: 80%;
  border-radius: 10px;
  text-align: center;
  margin-top: 10px;
}

.listar{
  text-align: center;
  display: grid;
  margin-top: 150px;
}