<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Lista de Usuários</title>
</head>
<body>
  <div class="listar">
    <h1>Lista de Usuários Cadastrados</h1>
    <ul>
     <% list.forEach((usuario) => { %>
      <div class="usuario">
        <p><strong>Nome:</strong> <%= usuario.nome %></p>
        <p><strong>Senha:</strong> <%= usuario.senha %></p>
      </div>
     <%})%>
    </ul>
  </div>
</body>
</html>
